body {
  background: $background_color;
  .navbar {
    border-radius: 0;
    background: lighten($primary_color, 30%);
    .navbar-header {
      width: 100%;
    }
    .navbar-brand {
      padding: 6px;
      img { width: 42px; }
    }
  }
}

.clickable {
  cursor: pointer;
}

.fix-amount {
  font-weight: bold;
  color: #a25858;
  background: #ffcbcb;
  padding: 1px 10px;
  border: 1px solid #a25858;
}